.btn-black {
	background-color: black;
	padding: 10px 15px;
	border-radius:45px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	display:block;
	margin:auto;
	text-align: center;
	

}

.btn-black: hover {
	background-color: grey;
	color: white;
}


